// Brown
$color-brown-primary:#BF6E52; //logo色
$color-brown-dark:hsl(15, 33%, 54%);
$color-brown-medium:#B58A76;
$color-brown-light:#D4AB8E;

// Gold
$color-gold-primary:#ECD8A3; //logo色
$color-gold-dark:#D4B86F;
$color-gold-medium:#F3D075;
$color-gold-light:#FEEBBA;

// Dark Coffee
$color-coffee-primary:#483D3F; //logo色
$color-coffee-dark:#625759;
$color-coffee-light:#938588;

// Deep Brown
$color-deepBrown-dark:#6F595D;
$color-deepBrown-medium:#B99C92;
$color-deepBrown-CBB1A4:#938588;

// Background
$color-bg-dark:#F0E4C6;
$color-bg-light:#F4EBD9;

// Neutral
$color-neutral-100:#222222;
$color-neutral-90:#303030;
$color-neutral-80:#3B3B3B;
$color-neutral-60:#5A5A5A;
$color-neutral-40:#ADADAD;
$color-neutral-20:#D9D9D9;
$color-neutral-10:#E3E3E3;
$color-white-60:rgba(255, 255, 255, 0.6);