@charset "UTF-8";
.reviewSubContent .switchBtn .rvwBigBtn {
  background-color: #BF6152;
  color: white;
  border-radius: 999px;
  border: none;
  cursor: pointer;
}

.reviewSubContent .switchBtn .rvwSmBtn {
  background-color: #483D3F;
  color: white;
  border-radius: 999px;
  border: none;
  cursor: pointer;
}

.reviewWrap {
  width: 1280px;
  max-width: 1280px;
  height: auto;
}

.reviewContent {
  display: flex;
  background-color: white;
  border-radius: 15px;
  border: none;
  overflow: hidden;
  max-width: 1280px;
  height: 515px;
  margin-bottom: 20px;
}
.reviewContent .rvwLeft figure {
  height: 100%;
  overflow: hidden;
  aspect-ratio: 4/3;
}
.reviewContent .rvwLeft figure img {
  object-fit: cover;
  height: 100%;
}
.reviewContent .rvwRight {
  width: 100%;
  min-width: 500px;
  padding: 40px 50px;
  position: relative;
}
.reviewContent .rvwRight #iconX {
  width: 24px;
  height: 24px;
  margin: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.reviewContent .rvwRight #iconX:hover {
  cursor: pointer;
}
.reviewContent .rvwRight .row1 {
  display: flex;
  align-items: center;
}
.reviewContent .rvwRight .row1 .idPic {
  width: 40px;
}
.reviewContent .rvwRight .row1 .idName {
  margin: 0 15px;
  font-size: 1.2rem;
  font-weight: 700;
  color: #3B3B3B;
}
.reviewContent .rvwRight .row1 .stoneLv {
  width: 76px;
}
.reviewContent .rvwRight .row2 {
  display: flex;
  margin: 10px 0 25px 0;
  font-size: 0.8rem;
  color: #5A5A5A;
}
.reviewContent .rvwRight .row2 span {
  margin: 0 10px;
}
.reviewContent .rvwRight .row3 {
  color: #3B3B3B;
  line-height: 1.7;
}

.reviewSubContent {
  display: flex;
  overflow: hidden;
  max-width: 1280px;
}
.reviewSubContent .switchBtn {
  display: block;
  position: relative;
}
.reviewSubContent .switchBtn .rvwBigBtn {
  width: 100px;
  height: 100px;
  font-size: 1rem;
  font-weight: 700;
  position: absolute;
  transition: all 0.2s linear;
  top: 2px;
  left: 60px;
  z-index: 10;
}
.reviewSubContent .switchBtn .rvwBigBtn:hover {
  cursor: default;
}
.reviewSubContent .switchBtn .rvwSmBtn {
  width: 77px;
  height: 77px;
  position: absolute;
  transition: all 0.2s linear;
  top: 55px;
  left: 5px;
}
.reviewSubContent .switchBtn .rvwSmBtn:hover {
  scale: 1.04;
  rotate: 3deg;
}
.reviewSubContent .slideshow {
  display: flex;
  width: calc(100% - 155px);
  margin-left: 155px;
  position: relative;
}
.reviewSubContent .slideshow .thumbnail-container {
  overflow: hidden;
  margin-right: 12px;
  border-radius: 8px;
  display: flex;
}
.reviewSubContent .slideshow .thumbnail-container .thumbnail-wrap {
  display: flex;
}
.reviewSubContent .slideshow .thumbnail-container .thumbnail {
  margin-right: 10px;
  width: 180px;
  height: 135px;
  cursor: pointer;
}
.reviewSubContent .slideshow .thumbnail-container .thumbnail img {
  object-fit: cover;
  height: 100%;
}
.reviewSubContent .slideshow .thumbnail-container .thumbnail:hover {
  filter: brightness(120%);
}
.reviewSubContent .slideshow .thumbnail-container .active {
  border: #F3D075 solid 3px;
}
.reviewSubContent .slideshow .arrow-btn {
  color: #BF6E52;
  background-color: rgba(244, 235, 217, 0.7);
  border: none;
  border-radius: 4px;
  height: 135px;
  position: absolute;
  top: 0px;
}
.reviewSubContent .slideshow .arrow-btn:hover {
  background-color: rgba(244, 235, 217, 0.9);
}
.reviewSubContent .slideshow .right {
  right: 0;
  z-index: 999;
}
.reviewSubContent .slideshow .left {
  left: 0;
  z-index: 999;
}
.reviewSubContent .slideshow :disabled {
  display: none;
}

.modalReview-overlay {
  position: fixed;
  /* 固定在螢幕上 */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* 半透明背景 */
  display: flex;
  /* 使用 flex 使內容居中 */
  justify-content: center;
  align-items: center;
  z-index: 9999;
  /* 確保它在頁面最上層 */
}/*# sourceMappingURL=style_review.css.map */