@use './reset';

h2 {
    color: red;
}

/*底圖區*/
main {
    background-image: url('../public/images/Pattern_color\(1440\)_background-texture.jpg');
    background-repeat: repeat;

}

/*導覽列*/

/*版頭區*/
#intro {
    display: flex;
    justify-content: center;
    flex: 1;
    width: 80%;
    border: 1px solid red;

    .photo {
        display: flex;
        flex-direction: column;
        max-width: 545px;
        height: 635px;
        border: 1px solid rgb(25, 0, 255);
        padding: 5px;

        .photoL {
            background-color: aqua;

        }

        .smallPhoto {
            display: flex;

            .photoS {
                background-color: blue;
                padding: 15px;
            }
        }
    }

    .courseIntro {

        height: 530px;
        background-color: rgb(71, 17, 232);

        .couresName {
            color: rgb(91, 62, 187);
            font-size: 24px;

            p {
                font-size: 16px;
                color: chartreuse;
                border: 1px solid rgb(25, 0, 255);

            }
        }
    }

}